html{line-height:1.15;-ms-text-size-adjust:100%;-webkit-text-size-adjust:100%}body{margin:0}article,aside,footer,header,nav,section{display:block}h1{font-size:2em;margin:.67em 0}figcaption,figure,main{display:block}figure{margin:1em 40px}hr{box-sizing:content-box;height:0;overflow:visible}pre{font-family:monospace,monospace;font-size:1em}a{background-color:transparent;-webkit-text-decoration-skip:objects}abbr[title]{border-bottom:none;text-decoration:underline;text-decoration:underline dotted}b,strong{font-weight:inherit}b,strong{font-weight:bolder}code,kbd,samp{font-family:monospace,monospace;font-size:1em}dfn{font-style:italic}mark{background-color:#ff0;color:#000}small{font-size:80%}sub,sup{font-size:75%;line-height:0;position:relative;vertical-align:baseline}sub{bottom:-.25em}sup{top:-.5em}audio,video{display:inline-block}audio:not([controls]){display:none;height:0}img{border-style:none}svg:not(:root){overflow:hidden}button,input,optgroup,select,textarea{font-family:sans-serif;font-size:100%;line-height:1.15;margin:0}button,input{overflow:visible}button,select{text-transform:none}button,html [type=button],[type=reset],[type=submit]{-webkit-appearance:button}button::-moz-focus-inner,[type=button]::-moz-focus-inner,[type=reset]::-moz-focus-inner,[type=submit]::-moz-focus-inner{border-style:none;padding:0}button:-moz-focusring,[type=button]:-moz-focusring,[type=reset]:-moz-focusring,[type=submit]:-moz-focusring{outline:1px dotted ButtonText}fieldset{padding:.35em .75em .625em}legend{box-sizing:border-box;color:inherit;display:table;max-width:100%;padding:0;white-space:normal}progress{display:inline-block;vertical-align:baseline}textarea{overflow:auto}[type=checkbox],[type=radio]{box-sizing:border-box;padding:0}[type=number]::-webkit-inner-spin-button,[type=number]::-webkit-outer-spin-button{height:auto}[type=search]{-webkit-appearance:textfield;outline-offset:-2px}[type=search]::-webkit-search-cancel-button,[type=search]::-webkit-search-decoration{-webkit-appearance:none}::-webkit-file-upload-button{-webkit-appearance:button;font:inherit}details,menu{display:block}summary{display:list-item}canvas{display:inline-block}template{display:none}[hidden]{display:none}

.clearfix:after {visibility: hidden; display: block; font-size: 0; content: " "; clear: both; height: 0; }

* { -moz-box-sizing: border-box; -webkit-box-sizing: border-box;    box-sizing: border-box; }
body {
    background: #003B6F;
}
.wrapper {
    width: 80%;
    margin: auto;
    max-width: 1080px
}

video {

    object-fit: fill;
    width: 100%;
}

nav {

    background: black;
    display: flex;
    position: fixed;
    width: 25%;
    right: -30%;
    top:0;
    bottom:0;
    margin:0;
    padding: 0;

    transition: right 1s;
    z-index: 10;
}

nav a {
        color: white;
        font-size: 40px;
        padding: 10px;
        display: block;
        text-decoration: none;
}


.menu li a {
    list-style: none;
}

input[type="checkbox"]:checked + nav {
    right: 0;
}

input[type="checkbox"]:checked ~ .wrapper {
    left: -30%;
}

label{
    position: fixed;
    top:10px;
    left:10px;
    color:white;
    z-index: 10;
}

input[type="checkbox"] {
    display:none;
}



/*Main Section Styles begin*/
.doctor {
    background: #003B6F;
    color: white;
    text-align: center;
    height: 100%;

}

.doctor h1 {
    font-family: 'Merriweather', serif;
    font-size: 35px;

}

.doctor p {
    font-family: 'Muli', sans-serif;
    font-size: 20px;
    line-height: 2;
}
.doctor span {
    font-family: 'Merriweather', serif;
    font-size: 30px;
    color: #E4B200;
}
/*Where to Start styles begin*/
.start {
    color: white;
    text-align: center;
    height: 100%;
    /*padding: 100px;*/
}
.start h1{
    color: white;
    font-family: 'Merriweather', serif;
    font-size: 40px;

}
.start p {
    font-family: 'Muli', sans-serif;
    font-size: 20px;
}
.start span {
    font-family: 'Merriweather',serif;
    font-size: 28px;
    color:white;
}
.start .new {
    float: left;
    text-decoration:none;
    background:#E4B200 ;
    border: 2px solid black;
    padding: 19px;
    line-height: 2;

}

.newbies h2 {
    color: blue;
}
.new h1 {
    font-family: 'Muli', sans-serif;
    font-size: 30px;
    color:#003B6f;
}

.newbies li {
    list-style: none;
    text-align: center;
    font-family: 'Merriweather', serif;
}

.start .familiar {
    float: right;
    text-decoration:none;
    background:#E4B200 ;
    border: 2px solid black;
    padding: 19px;
    line-height: 2;
}
.familiar h1 {
    font-family: 'Muli', sans-serif;
    font-size:30px;
    color:#003B6f;

}
.familiiar .somewhat li {
    list-style: none;
}
.somewhat h2 {
    color: blue;
}
.somewhat li {
    font-family: 'Merriweather', serif;
}
.order {
    background:#E4B200 ;
}
.order h2 {
    font-family: 'Muli', sans-serif;
    font-size:30px;
    color:#003B6f;
    font-size: 30px;

}


.binge {

    text-decoration: none;

    padding: 19px;
    list-style: none;
    line-height: 2;
    margin: 0 auto;
}

.binge h3 {
    color: red;

}
.binge li {
    font-family: 'Merriweather', serif;
    font-size: 20px;
}

/*Regeneration Styles begin*/
.doctors {
    background: #003B6F;
    color: white;
    text-align: center;
    /* height: 100%; */
    width: 100%;
    line-height: 2;
    /*padding: 100px;*/
}

.doctors h1 {
     font-family: 'Merriweather', serif;
     font-size: 30px;


}
.doctors p {
    font-family: 'Muli', sans-serif;
    font-size: 23px;
}

/*Gallery Styles begins*/

.gallery {
  flex-flow: row wrap;
  background:#003B6F;

}

.doctorim {
    display: flex;
    flex-wrap: wrap;
}



.gallery__image {
    display: block;

}

.gallery__item {
    position:relative;
    width: calc(33.3% - 2rem);
    padding: 1rem;
    margin: 1rem;
    box-shadow: 1px 2px 40px 2px rgba(160, 160, 160, .5);
    filter: grayscale(100%);
}
.gallery__item img {
    width: 100%;
}
figcaption {
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    top: 0;
    opacity: 0;


    transition: opacity 2s ease-in;
}

.gallery__image-caption h3 {
    font-family: 'Merriweather', serif;
    font-size: 220%;
    color: purple;

    text-align:center;
}

.gallery__image-caption p {
    font-family:'Muli', sans-serif;
    font-size: 30px;
    color: black;

    text-align: center;
}

.gallery__image-caption h4 {
    font-family:'Muli', sans-serif;
    font-size: 30px;
    color: blue;

    text-align: center;
}

.gallery__item:hover {
    filter:grayscale(0%);
}

.gallery__item:hover figcaption{
    opacity: 1;

    transition: opacity 2s ease-out;
}


/*Question style begins*/
.questions {
    color: black;
    margin-top: 70px;
    height: 100%;
    object-fit: fill;
    margin:0;

}

.questions h1 {
    text-align: center;
    font-size: 40px;
}
.questions h5 {
    font-size: 25px;
    text-align: center;
}
.questions li{
    list-style: none;
    text-align: center;
}

.questions h3 {
    font-size:25px;
    color: #E4B200;
}

.questions p {
    font-family: 'Muli', sans-serif;
    font-size: 20px;
    color: black;
}



/*Comment styles begins*/
.comments {
    color: #000;
    text-align: center;
    height: 100%;
    object-position: fill;
}
.comments li {
    list-style: none;
}

.comments h1 {
    font-family: 'Merriweather', sans-serif;
    font-size: 30px;
    color: #000;
}

.comments h3 {
    font-family: 'Muli', sans-serif;
    font-size: 25px;
    color: #E4B200;
}
.comments h5 {
    font-family: 'Muli', sans-serif;
    font-size: 25px;

}
.comments p {
    font-size:20px;
}





@media screen and (max-width: 800px){
    nav {
        width: 68%;
        right: -68%;

    }

    .gallery__item{

        width: 100%;
    }

    .doctorsel {
        width: 100%;
        flex-direction: column;
        justify-content: space-between;
        margin: 0 auto;
    }
    .doctext p {
        display: none;
    }
    .doctext {
        padding-left: 229px;
        padding-top: 122px;
    }

    .doctext:hover {
        text-align: center;
    }


}


@media only screen and (max-width: 600px){
    .gallery__item {
    flex-basis: calc(100% / 291px);
    }
    .doctorsel {
        flex-direction: column;
        align-content: center;
        margin: 0 auto;
    }

}

@media only screen and (max-width: 500px){

    .container{
        width: 100%;
    }



}
@media only screen and (max-width: 400px){
    .gallery__item{
    flex-basis:calc((100% / 1875px) - 32px);
  }
    .doctorsel {
    width: 100%;
    margin: 0 auto;
    align-content: center;
    }

    nav {
        width: 65%;
    }

@media only screen and (min-width: 360px){
    nav {
        /*display: none;*/
        width: 65%;
    }

    body {
        font-size: 80%;
    }

    .doctorsel {
        padding-left: 100px;


    }

    .docimg {

        padding-right: 100px;
    }

    .doctext {
        height:100%;
        width:90%;

    }
    .doctext p {
        display: none;

    }
   .start .new {
        width: 100%;
   }

   .start .familiar {
        width: 100%;
   }
}
